@tailwind base;
@tailwind components;
@tailwind utilities;

/** font config **/
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: filimo;
  src: url("../../resource/font/IRANSans.eot");
  src: url("../../resource/font/IRANSans.woff");
  src: url("../../resource/font/IRANSans.woff2");
  src: url("../../resource/font/IRANSans.ttf");
}

/** font config **/
/** Menu CSS **/
@layer components {
  .sub-menu {
    @apply w-fit h-full flex items-center justify-center relative gap-1;
  }
  .sub-menu-item {
    @apply hidden transition-all duration-500 delay-700;
  }
  .sub-menu:hover > .sub-menu-item {
    @apply w-96 h-96 bg-[#2b2b2b] absolute -right-4 top-14 rounded flex flex-col gap-5 flex-wrap p-3;
  }
  .sub-menu-item-item {
    @apply font-filimo text-xs text-white/90 transition-all duration-100 cursor-pointer;
  }
  .sub-menu-item-item:hover {
    @apply text-orange-400;
  }
}
/** Menu CSS **/
/** Start Swiper and Header **/
@layer components {
  .swiper {
    width: 100%;
    height: 600px;
    background-color: #2b2b2b;
    .swiper-wrapper {
      width: inherit;
      height: 600px;
      position: relative;
      overflow: hidden;
      background-color: #9f2121;
    }
    .slide {
      width: inherit;
      height: inherit;
      position: absolute;
      background-color: #2b2b2b;
      left: 0;
      top: 56px;
      transition: 500ms;
      img {
        width: inherit;
        height: inherit;
        object-fit: cover;
        box-shadow: inset 20px 20px 50px 150px #2b2b2b;
        filter: brightness(40%);
      }
    }
  }
  .next {
    @apply w-10 h-10 bg-[#2b2b2b] opacity-60 absolute rounded-full bottom-64 left-8;
  }

  .prev {
    @apply w-10 h-10 bg-[#2b2b2b] opacity-60 absolute rounded-full bottom-64 left-20;
  }

  .next:disabled {
    @apply opacity-35 cursor-not-allowed;
  }
  .prev:disabled {
    @apply opacity-35 cursor-not-allowed;
  }
  .text-swiper {
    @apply w-[1020px] h-2/5 absolute bottom-16 left-64 z-40 flex flex-col;
  }
}
/** End Swiper and Header **/
/** Start Special CSS **/
@layer components {
  .special {
    @apply w-full h-[628px] bg-[#151515] flex flex-col;
  }
  .specialTitle {
    @apply w-full h-10 bg-[#151515] flex justify-between px-10 items-center pt-4;
  }
  .imageSpecial {
    @apply w-full h-[700px] bg-[#151515] flex flex-wrap items-center justify-center p-3 gap-3;
  }
  .cover {
    @apply w-[281px] h-[176px] bg-[#383028]  absolute rounded-md left-0 top-0 z-50 opacity-0;
  }
  .imageSpecialBox {
    @apply relative rounded-2xl h-[176px] w-[281px];
  }
  .imageSpecialBox > img {
    @apply w-[281px] h-[176px] object-cover rounded-md;
  }
  .imageSpecialBox:hover > .cover {
    @apply opacity-70 transition-all duration-300;
  }
  .nameOfMovie {
    @apply block text-white font-filimo text-xs pr-1 mt-32;
  }
  .genreAndYear {
    @apply block text-white font-filimo text-xs pr-1 mt-2;
  }
}
/** End Special CSS **/
/** Start Filter **/
@layer components {
  .filter {
    @apply w-full h-60 bg-[#151515] flex flex-col items-center;
  }
}
/** End Filter **/
/** Start News **/
@layer components {
  .news {
    @apply w-full h-[370px] bg-[#151515];
  }
  .newTitle {
    @apply w-full h-14 flex justify-between items-end px-10;
  }
  .imageNews {
    @apply w-full h-[314px] bg-[#151515] flex gap-3 flex-nowrap p-10;
  }
  .imageNewsItem {
    @apply w-[170px] h-[260px] relative rounded;
  }
  .imageNewsItem:hover > .coverNews {
    @apply opacity-80 transition-all duration-300;
  }
  .imageNewsItem > img {
    @apply w-[170px] h-[227px] object-cover rounded;
  }
  .coverNews {
    @apply w-[170px] h-[227px] flex flex-col justify-end pb-3 gap-3 absolute top-0 bg-slate-800 z-50 pr-2 opacity-0 rounded;
  }
  .movieName {
    @apply font-filimo text-xs text-gray-300 mr-2;
  }
  .IMDB {
    @apply w-16 h-8 bg-gray-900 rounded-2xl  font-filimo text-white text-[12px] leading-8 text-center;
  }
  .movieNameNews {
    @apply text-white font-filimo text-xs;
  }
  .genreAndYearNews {
    @apply text-white font-filimo text-xs;
  }
}
/** End News **/
/** Start Hot **/
@layer components {
  .hot {
    @apply w-full h-[370px] bg-[#151515];
  }
  .hotTitle {
    @apply w-full h-14 flex justify-between items-end px-10;
  }
  .imageHot {
    @apply w-full h-[314px] bg-[#151515] flex gap-3 flex-nowrap p-10;
  }
  .imageHotItem {
    @apply w-[170px] h-[260px] relative rounded;
  }
  .imageHotItem:hover > .coverHot {
    @apply opacity-80 transition-all duration-300;
  }
  .imageHotItem > img {
    @apply w-[170px] h-[227px] object-cover rounded;
  }
  .coverHot {
    @apply w-[170px] h-[227px] flex flex-col justify-end pb-3 gap-3 absolute top-0 bg-slate-800 z-50 pr-2 opacity-0 rounded;
  }
  .movieName {
    @apply font-filimo text-xs text-gray-300 mr-2;
  }
  .IMDB {
    @apply w-16 h-8 bg-gray-900 rounded-2xl  font-filimo text-white text-[12px] leading-8 text-center;
  }
  .movieNameHot {
    @apply text-white font-filimo text-xs;
  }
  .genreAndYearHot {
    @apply text-white font-filimo text-xs;
  }
}
/** Start SpecialSeries **/
@layer components {
  .series {
    @apply w-full h-[270px] bg-[#151515] mb-10;
  }
  .seriesTitle {
    @apply w-full h-14 flex justify-between items-end px-10;
  }
  .imageSeries {
    @apply w-full h-[314px] bg-[#151515] flex gap-1 flex-nowrap p-10;
  }
  .imageSeriesItem {
    @apply w-[280px] h-[170px] relative rounded;
  }
  .imageSeriesItem:hover > .coverSeries {
    @apply opacity-80 transition-all duration-300;
  }
  .imageSeriesItem > img {
    @apply w-[280px] h-[170px] object-cover rounded;
  }
  .coverSeries {
    @apply w-[280px] h-[170px] flex flex-col justify-end pb-3 gap-3 absolute top-0 bg-slate-800 z-50 pr-2 opacity-0 rounded;
  }
  .IMDB {
    @apply w-16 h-8 bg-gray-900 rounded-2xl  font-filimo text-white text-[12px] leading-8 text-center;
  }
  .nameSeries {
    @apply text-white font-filimo text-xs;
  }
  .genreSeries {
    @apply text-white font-filimo text-xs;
  }
}
/** End SpecialSeries **/
/** Start Children Filimo **/
@layer components {
  .children {
    @apply w-full h-[480px] bg-gradient-to-r from-[#151515] to-[#122F39] flex justify-center;
  }
  .children-image {
    @apply w-2/6 h-full;
  }
  .children-text {
    @apply w-2/6 h-full pt-40 pr-8;
  }
}
/** End Children Filimo **/
/** Start TV Filimo **/
@layer components {
  .TV {
    @apply w-full h-[500px] bg-[#151515] flex flex-nowrap;
  }
  .TV-image {
    @apply w-3/6 h-full object-cover relative;
  }
  .TV-image > img {
    @apply w-[785px] h-[460px] absolute bottom-0;
  }
  .TV-text {
    @apply w-3/6 h-full pr-28 pt-20;
  }
  .firstTV {
    @apply w-[400px];
  }
  .secondTV {
    @apply w-[600px] mt-5;
  }
}
/** End TV Filimo **/
/** Start School Filimo **/
@layer components {
  .school {
    @apply w-full h-[400px] bg-[#151515] flex justify-center items-center;
  }
  .schoolBackground {
    @apply w-11/12 h-[270px] bg-[url('../../resource/image/background-school/bg_school.png')] bg-no-repeat rounded-md flex flex-col items-center;
  }
  .logoSchool {
    @apply w-4/12 h-32 flex flex-wrap items-start gap-6 justify-center pt-7 pb-4;
  }
  .courseSchool {
    @apply w-8/12 h-32 flex flex-wrap gap-2;
  }
}
/** End School Filimo **/
