@tailwind base;
@tailwind components;
@tailwind utilities;

/** font config **/
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: filimo;
  src: url("../../resource/font/IRANSans.eot");
  src: url("../../resource/font/IRANSans.woff");
  src: url("../../resource/font/IRANSans.woff2");
  src: url("../../resource/font/IRANSans.ttf");
}

/** font config **/
/** Hero Section **/
@layer components {
  .HeroSection {
    @apply w-full h-fit;
  }
}
/** Hero Section **/
/** Start Swiper **/
@layer components {
  .swiper {
    @apply w-full h-screen;
  }
  .swiper-wrapper {
    @apply w-full h-screen relative;
  }
  .slider {
    @apply w-full h-full absolute left-0 top-0;
  }
  img {
    @apply w-full h-full object-cover;
  }
}
/** End Swiper **/
